#evolutionTitle{
    height: 50px;
    font-size: 40px;
    padding: 5px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin-bottom: 0px;
}
.evolutionPane{
    background-color: dimgray;
    height:235px ;
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
}
.evolutionPane img{
    margin-top: 25px;
    width: 150px;
    margin-left: 25px;
    
}
body{
font-family: 'Nova Flat', cursive;

}
#screenImage{
    margin: auto;
    display: block;
    width: 200px;
}
#pokemonPanel{
    
    width:inherit;
    height: 590px;
    background-color: ;
    overflow-y: scroll;
}
#pokemonPanel::-webkit-scrollbar {
    
    height: 15px;
    width: 12px;
	background-color: #F5F5F5;
    
}
#pokemonPanel::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 1px;
	background-color: #F5F5F5;
}
#pokemonPanel::-webkit-scrollbar-thumb{
	border-radius: 1px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/*------ROW-----------*/

.poke-icon{
    width: 65px;
    height: 65px;
    padding: 10px;
}
#id{
    display: none;
}


.row{
   border-bottom: 1px solid;        
}

.row ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;  /*ROW COLOR */
    margin: 0 auto;
    border: solid 0.0px;
}

.row li {
    float: left;
    display: inline;   
}
.row li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    width:100px;
    height: 17px;
    font-size: 20px;
}
.row ul:hover {
    background-color: #111;
}

/*-----------------------------------*/


#frame{
    background-color: #e74c3c;
    width:1300px ;
    padding:px;
    overflow: hidden;
    margin: auto;
}
#leftPanel{
    float: left;
    background-color: firebrick;
    width:650px; ;
}
#rightPanel{
    float:right;
    background-color;
    width:650px;;
    
}
#screen-1{
    width: 550px;
    height: 250px;
    margin: auto;
}
/*BUTTON AND FORM AREA*/
.btn{
    
    margin-top: 15px;
    width: 115px;
    height: 35px;
    font-size: 17px;
    background-color:#95a5a6;
    color: aliceblue;
    
}
#buttons {
    height:68px; 
    text-align: center;
    border-bottom: 1px solid;
}

.btn:hover{
    background-color: #bdc3c7;
}

#form{
    width: inherit;    
    height: 68px;
    text-align: center;
    border-bottom: 1.5px solid;
}

#form a{
    padding: 5px;
    font-size: 20px;
    display: inline-block;    
}

#form input{
    margin-top:  15px;
    vertical-align: bottom;
    height: 35px;    
    display: inline-block;
    border: #000;
    padding: 15px;
    font-size: 20px;
}

#search-btn {
    font-size: 25px;
    height: 35px;
    width: 200px;
    border: 1px solid;

}

body{
    background-color:blue !important;
}
